footer {
	background-color: #333333;
	padding-top: 102px;
	padding-bottom: 132px;
}

.footer-inner {
	display: flex;
	align-items: center;
}

.footer-column {
	flex-grow: 1;
	display: flex;

}

.footer-column-left {
	justify-content: flex-start;
	gap: 47px;
}

.footer-column-center {
	justify-content: center;
	gap: 20px;
}

.footer-column-right {
	justify-content: flex-end;
}

.footer-link {
	text-decoration: none;
	color: #FFF;
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
}

.pnone-number-footer {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
	color: #FFF;
}

.phone-icon-light {
	width: 24px;
	height: 24px;
	background-image: url(../images/phone_light.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 9px;
}

.social-icon-vk {
	background-image: url(../images/cib_vk.png);
	width: 25px;
	height: 25px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain
}

.social-icon-insta {
	width: 25px;
	height: 25px;
	background-image: url(../images/insta.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain
}