.navigation {
	padding-bottom: 30px;
	display: flex;
	gap: 40px;
}

.navigation-link {
	text-decoration: none;
	color: #4F4F4F;
	font-family: Gilroy;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

}

.navigation-link-dropdown {
	display: flex;
	align-items: center;
	gap: 4px;
}

.navigation-link-dropdown::after {
	content: '';
	width: 15px;
	height: 15px;
	background-image: url(../images/arrow_down.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.search {
	width: 345px;
	height: 54px;
	border-radius: 10px;
	border: 1px solid #BDBDBD;
	background-color: #F2F2F2;
	padding: 17px 55px 17px 20px;
	background: url(../images/Search.png);
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: right 20px top 10px;
}

.search::placeholder {
	color: #828282;
	font-family: Gilroy, sans-serif;
	font-size: 18px;
	font-weight: 400;
}