* {
	box-sizing: border-box;
}

body {
	font-family: Gilroy, sans-serif;
	background-color: #F9F9F9;
}

.wrapper {
	width: 1320px;
	margin-left: auto;
	margin-right: auto;
}

main {
	padding-top: 75px;
	padding-bottom: 100px;
}

.main-back {
	padding-top: 30px;
	padding-bottom: 44px;
}

.input:not(.search) {
	display: none;
}

.weight input {
	display: none;
}