.main-links {
	background-color: #F9F9F9;
}

.main-section-links {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 75px;
	padding-bottom: 30px;
	gap: 15px;
}

.section-link {
	text-decoration: none;
	color: #BDBDBD;
	font-family: Gilroy;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.dot-between {
	width: 6px;
	height: 6px;
	background-color: #BDBDBD;
	border-radius: 15px;
}

/* .section-link:not(:last-child)::after {
	width: 6px;
	height: 6px;
	background-color: #BDBDBD;
	border-radius: 15px;
} */

.main-back {
	background-color: #F9F9F9;
	padding-bottom: 44px;
}

.main-link-back {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.arrow-back {
	width: 18px;
	height: 18px;
	display: inline-block;
	background-image: url(../img/green-arrow-left.png);
	background-repeat: no-repeat;
	background-position-y: center;
	margin-right: 4px;
}

.back-link {
	text-decoration: none;
	color: #333;
	font-family: Gilroy;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	display: flex;
	align-items: center;
}